<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="top.logge.loggerythm.player.hostilecontroller.permission.BIND_PROBE" />

    <queries>
        <package android:name="top.logge.loggerythm.player.hostilecontroller" />
    </queries>

    <application>
        <activity
            android:name=".LoggeRythmPlayerTestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
